@media (orientation: portrait) {
  body {
    width: 100vh;
    height: 100vw;
  }

  .background {
    transform-origin: top left;
    transform: translateX(100vw) rotate(.25turn) ;
  }

  .playersGrid {
    transform-origin: top left;
    transform: translateX(100vw) rotate(.25turn) ;
  }

  .numP2 {
    transform: translateY(0vmin) rotate(0turn);
  }
}
