.welcome {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #111;
  text-align: center;
  opacity: 1;
  transition: opacity 300ms ease-in;
}

:fullscreen .welcome {
  opacity: 0;
}
